@charset "utf-8";
@import url('https://fonts.gooleapis.com/css?family-Orbitron');

/* 전체 요소의 여백과 목록의 꾸밈 효과 초기화 */
*{
    margin : 0;
    padding: 0;
}
ol,ul{
    list-style: none;
}
a{
    outline: 0;
    text-decoration: none;
}
img{
    border: 0;
}
body{
    font : 17px/1.4 "orbitron";
    letter-spacing: 1px; /* 자간 설정 */
    color: #ddd;
    background: #000;

}
.wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    perspective: 1300px; /* 3D요소를 위한 원근감 지정 */
}
.wrap>video{
    width: 100%;
    height: 100%;
    /* 화면 크기에 맞게 영상을 꽉 채우는 작업 */
    object-fit: cover;
    position: fixed;
    opacity: 0.5;
}

.wrap #circle{
    width: 600px;
    height: 800px;
    position: absolute; /* 화면 정중앙 배치 */
    top: 50%;
    left: 50%;
    margin-top: -400px;
    margin-left: -300px;
    /* border: 1px solid aqua; */
}
.wrap #circle article{
    width: 100%;
    height: 100%;
    position: absolute; /*article 요소 일단 겹쳐두기*/
    top: 0px;
    left: 0px;
    /* background: rgba(255,255,255,0.4); */
    display: none;
}
.wrap #circle article h1{
    /* 박스 안 왼쪽 상단을 위한 배치 */
    position: absolute;
    left: 0px;
    top: 0px;
    /* 일단 숨김 처리 */
    font-size: 30px;
    opacity: 0;
    /* 박스 위에 마우스 포인터를 올렸을 때 전환 효과가 일어나도록 설정 */
    transition: all 0.5s;
}

/* article 호버 시 제목이 위로 서서히 나타남 */
.wrap #circle article:hover h1{
    top: -60px;
    opacity: 1;
}

.wrap #circle article .inner{
    width: 100%;
    height: 100%;
}
.wrap #circle article .inner>div{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(255,255,255,0.5);
    box-sizing: border-box;
    background: rgba(255,255,255,0.06);
    padding: 50px;
    position: relative;
    opacity: 0.7;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
}
.wrap #circle article .inner>div:hover{
    background: rgba(255,255,255,0.15); /*호버 시 div 박스 약간 진하게 활성화*/
    transform: scale(1.03); /*호버 시 박스 약간 확대*/
    opacity: 1;
}

/* face1 */
.wrap #circle article{
    display: block;
}
.wrap #circle .face1 .inner>div{
    width: 290px;
    height: 254px;
    float: left;
    margin-bottom: 20px;
    text-align: center;
}
.wrap #circle .face1 .inner>div:nth-of-type(odd){
    margin-right: 20px;
}
.wrap #circle .face1 .inner>div p i{
    font-size: 100px;
    transition: all 0.5s;
    opacity: 0.7;
}
.wrap #circle .face1 .inner>div h2{
    margin-top: 20px;
    letter-spacing: 2px;
    transition: all 0.5s;
}
.wrap #circle .face1 .inner>div:hover i{
    color:lightcyan;
    text-shadow: 0px 0px 10px aqua;
    transform: scale(1.2);
    opacity: 1;
}
.wrap #circle .face1 .inner>div:hover h2{
    color:lightcyan;
    text-shadow: 0px 0px 10px aqua;
}