.App {
    font-family: sans-serif;
    text-align: center;
  }
  .App {
    text-align: center;
    padding-top: 2rem;
  }
  
  button {
    font-size: 0.9rem;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 1rem;
    margin-left: 0.5rem;
  }
  